

@font-face {
  font-family: 'PoltawskiNowy';
  src: url('fonts/PoltawskiNowy-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'FrederickatheGreat';
  src: url('fonts/FrederickatheGreat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

 

#output {
  position: absolute; 
  bottom: 0; 
  right: 0; 
  z-index:999;
  color: greenyellow;
  background-color: transparent !important;

}


.row {
  display: flex;
  flex-direction: row;
}